$ff-main: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$ff-main-sc: $ff-main;

$font-size-default: 1.25rem;

$font-size-100: 0.7 * $font-size-default;
$font-size-200: 0.8 * $font-size-default;
$font-size-300: 0.9 * $font-size-default;

$font-size-400: 1 * $font-size-default;

$font-size-500: 1.1 * $font-size-default;
$font-size-600: 1.25 * $font-size-default;
$font-size-700: 1.5 * $font-size-default;
$font-size-800: 2 * $font-size-default;
