@use "/src/styles/abstracts" as *;

.container {
  position: relative;
  width: 100%;
  height: calc(min(#{$mw-blog}, 100vw) / 6 * 4);
  margin-bottom: 2vh;

  background-color: $clr-neutral-300;

  @media (orientation: portrait) and (max-width: #{$mw-blog}) {
    order: -1;
    margin-left: -$margin-page;
    width: 100vw;
  }
}
